[THODD-PTPM]
Login=admin
cbomakvgoi=3
[makkBLV]
makkBLV=1
[tenkkBLV]
tenkkBLV=Khoa N?i
[]
=True
Giaoban2=1
[ui_dangkykcbAAB]
cbomakk=9
cbomaphong=5
[qlbacbongay]
qlbacbongay=0
[MAUINDUOC]
INXUATNHAP1=C20
[THODD-PTPMAABUI_Mainkham]
chkchuatt=False
[cbongayNT]
THthuchi=0
[THthuchi]
THthuchi=0
[THODD-PTPMAABui_kedon]
chkAutoChuyen=False
[userTTopen]
userTTopen=btnthanhtoan
[cboPhucap]
BCHC=0
[chknetlien]
Giaoban2=0
[THODD-PTPMAAAui_kedon]
chkAutoChuyen=True
[daluu]
pkhienthibn=1
